.music{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 30px;
	left: 30px;
	
}
.music ul{
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
}
.music ul li{
	float: left;
	list-style: none;
	width:3px;
	
	background: orange;
	position: absolute;
	bottom: 0;
	
}
.music ul li:nth-child(1){
	left: 0;
	height: 8px;
	animation: n1 1s infinite;
}
.music ul li:nth-child(2){
	left: 6px;
	height: 18px;
	animation: n2 .8s infinite;
}
.music ul li:nth-child(3){
	left: 12px;
	height: 14px;
	animation: n3 1.4s infinite;
}
.music ul li:nth-child(4){
	left: 18px;
	height: 6px;
	animation: n4 1.1s infinite;
}
@keyframes n1{
	from{height: 0;}
	to{height: 8px;}
}
@keyframes n2{
	from{height: 0;}
	to{height: 18px;}
}
@keyframes n3{
	from{height: 0;}
	to{height: 14px;}
}
@keyframes n4{
	from{height: 0;}
	to{height: 6px;}
}

